{% extends "base.html" %}

{% block header%}
<title>开发视图管理</title>
{% endblock %}

{% block content %}

<div >
	<table class="table table-bordered datatable" data-group-by-index='[1]'>
		<thead>
		<tr>
			<th >函数路径</th>
			<th >模块路径</th>
			<th >描述</th>
			<th >URL</th>
			<th >菜单</th>
		</tr>
		</thead>
		<tbody>
		{%for item in list_record%}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.group}}</td>
			<td>{{item.doc}}</td>
			<td>{{item.url}}</td>
			<td >{{item.menu.0.name}}</td>
		</tr>
		{%endfor%}
		</tbody>
	</table>
</div>

{% endblock %}