{% extends "base.html" %}

{% block header%}
<title>统计编辑</title>
{% endblock %}

{% block content %}
<div id="bar">
	<a href="/statistic/list">统计列表</a> -> 统计编辑
	<div class="buttons">
		<a href="javascript:;" class="submit">保存</a>
	</div>
</div>

<form action="/statistic/save?statistic_id={{model.id}}" method="post">

	<p>可用字段:
		{%for item_field in list_field%}
		<label>{{item_field.name}}</label>
		{%endfor%}
	</p>

	<table class="form">
		<tr>
			<th>统计日志：</th><td>
			<select name="log_type" class="log_def_list" >
				{%for item in logs%}
				<option value="{{item.id}}" {%ifequal item.id model.log_type%}selected="selected"{%endifequal%}>{{item.name}}({{item.key}})</option>
				{%endfor%}
			</select>
			<input type="text" class="search_log_def"  placeholder="搜索..." style="width:50px;" onkeyup="javascript:search_dbl_list('log_def_list','search_log_def');" />
			<a href="javascript:;" onclick="art.dialog.open('/log/log/log_edit?log_key='+$('[name=log_key]').val())">编辑</a>
		</td>
	</tr>

	<tr>
		<th>统计名：</th><td><input type="text" name="name" value="{{model.name}}" /></td>
	</tr>


<!-- 	<tr>
		<th>统计字段：</th><td><input type="text" name="field_name" size="50" value="{{model.field_name}}" /> 字段定义里面的名称</td>
	</tr>

	<tr>
		<th>统计条件：</th><td><input type="text" name="where" size="50" value="{{model.where}}" /> 字段定义对应值定义里的ID，如字段名=值ID</td>
	</tr>
	<tr>
		<th>计算方式：</th><td>
		<select name="count_type">
			{%for optionItem in model.STATUS_CHOICES%}
			<option value="{{optionItem.0}}" {%ifequal optionItem.0 model.count_type %}selected='selected'{%endifequal%}>{{optionItem.1}}</option>	
			{%endfor%}
		</select></td>
	</tr>
	<tr>
		<th>开始时间：</th><td><input type="text" name="last_exec_time" class="Wdate" value="{{model.last_exec_time|date:'Y-m-d H:i:s'}}" /> 第一次执行时间</td>
	</tr>
	<tr>
		<th>统计时间间隔：</th><td><input type="text" name="exec_interval" maxlength="5" value="{{model.exec_interval}}" /> 秒 如果间隔时间为0，则会统计所有数据
		<br/>
		<a href="javascript:inputText('exec_interval',1800)">30分钟</a>
		<a href="javascript:inputText('exec_interval',3600)">1小时</a>
		<a href="javascript:inputText('exec_interval',21600)">6小时</a>
		<a href="javascript:inputText('exec_interval',43200)">12小时</a>
		<a href="javascript:inputText('exec_interval',86400)">24小时</a>
		<a href="javascript:inputText('exec_interval',604800)">一周</a>
	</td>
</tr> -->
<tr>
	<th>自动统计启用：</th><td>
		<label class="inline">
			<input type="checkbox" value="1" {%if model.is_auto_execute %} checked="checked"{%endif%} offval="No" id="stock" name="is_auto_execute" role="checkbox" class="FormElement ace ace-switch ace-switch-5"><span class="lbl"></span>启用自动统计后会在后台自动执行统计,避免太过频繁的统计
		</label>
	 </td>
</tr>
<tr>
	<th>统计间隔：</th><td><input type="text" name="auto_exec_interval" maxlength="5" value="{{model.auto_exec_interval}}" /> 天 *自动统计开始日期减去的天数,涉及未来数据(例如留存,流失)必须填写.
</td>
</tr>
<tr>
	<th>备注：</th>
	<td>
	<textarea  name="remark" >{{model.remark}}</textarea>
</td>
</tr>

<tr>
	<th>SQL语句：</th>
	<td style="border:1px solid gray">
	<textarea id="code" name="sql" style="width:800px;height:400px;">{{model.sql}}</textarea>
</td>
</tr>

<tr>
	<th>帮助:</th>
	<td >
		<div class="alert alert-info">
				<p>*注意 必须返回5列 时间点,服务器ID,渠道ID,标识值(没有也要设置为0),值,即必须是group by 3列的</p>
				<p><值列:log_now,log_previous,log_result,log_data/p>
				<p>取服务器ID:  log_server={%templatetag  openvariable%}server_id{%templatetag  closevariable%}</p>
				<p>取母服ID:  gl{%templatetag  openvariable%}master_id{%templatetag  closevariable%}.log_gold</p>
				<p>取母服库:  {%templatetag  openvariable%}master_db{%templatetag  closevariable%}.log_gold</p>
				<p>取渠道列表: log_channel in ({%templatetag  openvariable%}channel_ids{%templatetag  closevariable%})</p>
				<p>取开始时间: {%templatetag  openvariable%}sdate{%templatetag  closevariable%}</p>
				<p>取结束时间: {%templatetag  openvariable%}edate{%templatetag  closevariable%}</p> 
				<p>内部号过滤: player_id not in ({%templatetag  openvariable%}neibuhao{%templatetag  closevariable%})</p> 
		</div>
	</td>
</tr>

</table>

</form>

{% with '/static/js/codemirror' as URL %}
<script src={{URL}}/lib/codemirror.js></script>
<link rel="stylesheet" href="{{URL}}/lib/codemirror.css" />
<script src="{{URL}}/mode/sql/sql.js"></script>
<script type="text/javascript">
window.onload = function() {
	var mime = 'text/x-mariadb';
	if (window.location.href.indexOf('mime=') > -1) {
		mime = window.location.href.substr(window.location.href.indexOf('mime=') + 5);
	}
	var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
		mode: mime,
		indentWithTabs: true,
		smartIndent: true,
		lineNumbers: true,
		matchBrackets : true,
		//autofocus: true,
		tabSize: 4,
	});
  //editor.setSize(100,100)
};
</script>
{%endwith%}
{% endblock %}