{% extends "base.html" %}

{% block header %}
    <title>后台同步编辑</title>
{% endblock %}

{% block content %}
<div id="bar">
    <span><a href="/sync/backstage/">后台管理</a> -> <b>后台编辑</b></span>
    <div class="buttons">
        <a href="/sync/backstage/">返回</a>
    </div>
</div>
<form action="" method="post">
    <table class="form">
        {% if data.id %}
        <tr>
            <th>同步ID: </th>
            <td><input type="text" size="10" name="id" value="{{data.id}}" disabled="disabled" /></td>
        </tr>
        {% endif %}
        <tr>
            <th>后台: </th>
            <td><input type="text" name="bs_name" size="40" {% if data.name %}value="{{data.name}}{% endif %}"/></td>
        </tr>
        <tr>
            <th>Url: </th>
            <td><input type="text" name="url" size="80" {% if data.url %}value="{{data.url}}"{% endif %} /></td>
        </tr>
        <tr>
            <th>Key: </th>
            <td><input type="text" name="key" size="30" {% if data.key %}value="{{data.key}}"{% endif %} /></td>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <td><input type="submit" value="保存"/></td>
        </tr>
    </table>
</form>
{% endblock %}
