<!DOCTYPE html>
<html>
<head>
<title>{{title|safe}}</title>
<meta name="description" content="{{description|safe}}"/>

<meta name="apple-mobile-web-app-capable" content="yes" /> 
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, user-scalable=no" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />  
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />	
<meta name="format-detection" content="telephone=no">

<!-- FACESPACE -->
<meta property="og:type" content="article">
<meta property="og:title" content="{{title|safe}}">
<meta property="og:description" content="{{description|safe}}">

<style>
html {
	text-align: left;
	border: 0;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: white;
	background-color: rgb(2, 42, 100);
	font-family: "微软雅黑";
	-moz-box-shadow: 0 0 20px black inset;
	box-shadow: 0 0 20px black inset;
}

</style>
<script>
</script>
</head>
<body>
	{{description|safe}}
	<br>
	<a href="{{link}}"><img src="{{pic_url}}" width="129" height="129" style=""></a>
</body>
</html>