{% extends "base.html" %}
{% load mytags %}
{% block header%}
<title>跨服战参数配置</title>
{% endblock %}

{% block content %}
<div class="bar">
    <a href="/server/battle_server/battle_server_list">服务器列表</a> &nbsp;-&gt;
    {{gmp.server.name}}({{gmp.server.id}}) - 服务器参数
	<div class="buttons">
		<a href="/server/battle_server/battle_server_list">返回</a>
	</div>
</div>
<div class="sub-menu">

</div>

{%include "game/activity_base.html"%}

{% load mytags %}

<!-- 模版开始 -->

<script id="server-params-setting-tpl" type="text/template">
	<table class="form2">
  <caption align="top">填0则按照默认参数,留空则不修改!</caption>
		<!-- 这里开始配置服务器参数字段 -->
		<% for (k in it.data){%>
			<%var params=it.data[k];%>
			<%if(k != 'st' && k != 'et'){%>
			<tr >
				<th ><%=params.name%>：</th>
				<td> <input type="<%=params.input_type == 'int' ? 'number' : 'text' %>" name="<%=k%>"  step=<%=params.step ? params.step : 0.1%> aid="<%=k%>" min=<%=params.min ? params.min : -10%> max=<%=params.max ? params.max : 100%> maxlength=4 class="input-small activity-param pls"  value="<%=params.value ? params.value : ''%>" />
					<%? params.remark%>
					*<span style="<%=params.style%>"><%=params.remark%></span>
					<%?%>
				</td>
			</tr>
			<%}%>
		<%}%>       
	</table>
</script>

<!-- 模版结束 -->
<script type="text/javascript">
var default_params = {{default_params|safe}}

// 获取参数定义的名称
function get_params_def_name(param_key){
  var key = param_key.toString()
  return default_params.hasOwnProperty(key) ? default_params[key]['name'] : '未定义'
}

function msg_handle(msg){
  console.dir(msg)
  var new_msg = default_params
  var pls = msg.pls
  for (var i in pls) {
      var server_param = pls[i]
      var aid = server_param[0].toString()
      var param = server_param[1]
      if (new_msg.hasOwnProperty(aid)) {
        new_msg[aid].value = param
      }
  }
  return new_msg
}

activitySetting.get_json = function(){
   	var msg = {}
   	msg.pls = []
   	$('.pls').each(function(i,ele){
   		var This = $(ele)
   		var value = This.val()
      if (value.length>0) {
     		value = value ? parseFloat(value) : 0
     		var aid = parseInt(This.attr('aid'))
     		msg.pls.push([aid,value])
      }
   	})

    console.dir(msg)
    return JSON.stringify(msg)
}

activitySetting.to_html = function(msg){
    var msg = msg_handle(msg)
    var html = get_views('server-params-setting-tpl',msg)
    this.contEle.html(html)
}

</script>

<div id="server-info-cont">

</div>

<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6">
	<input id="server-info-btn-sure" type="button"  class="btn btn-xs btn-success" value="保存修改" />
	</div>
</div>

<script type="text/javascript">
activitySetting.contEle = $('#server-info-cont')
var msg = {{server_params|json_dumps|safe}}


$(function(){
	activitySetting.to_html(msg)

	var server_modify_url = '/game/server/battle_server_modify'
	function ServerModify(){
		var This = this
		this.server_ids = []
		//{"msg":[1418711473, 1418832000, [[0,2],[1,3]]]}

		this.modify_do = function(){
			This.server_ids = get_server_ids(true)
			server_ids = '&server_id=' + This.server_ids.join('&server_id=')
			var params = activitySetting.get_json()
			if (!params){
				return false
			}
			var msg = {"msg":params}

			msg = $.param(msg)
			var _dialog = $.dialog({"content":'执行中..<img src="/static/skin/images/loading.gif">',"lock":true})
			$.ajax({
				url: server_modify_url,
				type: 'POST',
				timeout:120000,//超时120秒
				data: msg + server_ids,
			})
			.done(function(data) {
				_dialog.content(data.replace(/\n/,'<br>'))

			})
			.fail(function(o,x,text) {
				_dialog.contento(responseText.replace(/\n/g,'<br>'))
			})

		}
	}

	var server_modify = new ServerModify()
	$('#server-info-btn-sure').click(function(){
		server_modify.modify_do()
	})

})
</script>
{% endblock %}