
<style>
.re_cont{
    border: 1px solid #AAAAAA;
    padding: 5px 5px 5px 15px;
    border-radius: 4px;
    margin-top: 5px;

}
.equipitem{
    display: block;
}

label {
    font-size: 12px;
    color: #FD0000;
}

</style>

<!-- 模版开始 -->

<script id="custom-setting-tpl" type="text/template">
<%var data_list=it.data;%>
<ul id="tab-ul" class="nav nav-tabs">

<%for (var i in data_list){%>
    <%var gift_obj=data_list[i];%>
    <%var gift_id=gift_obj[0];%>
   <li class="<%? i==0%>active<%?%> tab-li" gift_id="<%=gift_id%>">
      <a href="#gift_<%=gift_id%>" data-toggle="tab"><b>礼包<span class="gift_num"><%=gift_id%></span></b></a>
   </li>
<%}%>

<li style="float:right">
<a id="add_gift" class="btn btn-xs  add_gift pointer" onclick="add_gift()">+增加礼包</a></li>

</ul>
<div id="tab-cont" class="tab-content">
<%for (var i in data_list){%>

    <%var gift_obj=data_list[i];%>
    <%var gift_id=gift_obj[0];%>
     <div class="tab-pane <%? i==0%> active<%?%>" id="gift_<%=gift_id%>" gift_id="<%=gift_id%>">
        <%=it.w.get_gift_html(gift_obj)%>
     </div>
<%}%>
</div>
</script>




<script id="gift-tpl" type="text/template">

<div class="custom-activity-cont" >
<table class="form">
    <%var data=it.data;%>
    <caption><h3>礼包<span class="gift_num"><%=data[0]%></span></h3> <a href="javascript:void(0)" onclick="del_gift(this)">[删除]</a>

    </caption>
    <tr>
        <th>活动时段：</th>
        <td>
            <input type="text" class="Wdate" name="st" value="<%=data[4] && data[4]!=0 ? it.w.timestamp_to_datetime_str(data[4]) : "{{model.sdate|date:"Y-m-d H:i:30"}}"  %>" >
            到
            <input type="text" class="Wdate" name="et" value="<%=data[5] && data[5]!=0 ? it.w.timestamp_to_datetime_str(data[5]) : "{{model.edate|date:"Y-m-d H:i:s"}}" %>" >
        </td>
    </tr>
    <tr>
        <th>礼包名称：</th>
        <td>
            标题：<input type="text" name ="gn1" maxlength="6" class="input-sm" value="<%=data[1][0] ? data[1][0] : '' %>" >
            图片ID：<input type="text" name ="gn2" allow_empty='true' class="input-small" select-key="pick_ico" value="<%=data[1][1] ? data[1][1] : '' %>" >
        </td>
    </tr>
    <tr>
        <th>礼包描述：</th>
        <td>
            <textarea name="gd" placeholder="礼包描述 50 字内" maxlength=50 ><%=data[2] ? data[2] : ''%></textarea>
        </td>
    </tr>
    <tr>
    <tr>
        <th>获取类型：</th>
        <td>
            <select name="ty">
                <option value="0" <%? data[7] == 0 %> selected="selected" <%?%> >每日次数</option>
                <option value="1" <%? data[7] == 1 %> selected="selected" <%?%> >总次数</option>
            </select>
            领取次数：
            <input type="number" min=0 name="ttrt" class="input-number input-mini" value="<%=data[8] ? data[8] : 0 %>" >
        </td>
    </tr>
    <tr>
        <th>领取条件：</th>
        <td>
        等级限制：
            <input type="number" min=0 max=120 name="lm" allow_zero=true class="input-number input-mini" value="<%=data[9] ? data[9] : 0 %>" >
        vip等级限制：
            <input type="number" min=0 max=120 name="vl" allow_zero=true class="input-number input-mini" value="<%=data[10] ? data[10] : 0 %>" >
        </td>
    </tr>
    <tr name="times" >
        <th>领取间隔时间：</th>
        <td>
            <input type="number" name="hour" class="input-mini" maxlength=2  max=23 min=0 value="<%=parseInt(data[6]/3600)%>" allow_zero="true"allow_zero="true"> 时
            <input type="number" name="minute" class="input-mini" maxlength=2  max=59 min=0 value="<%=parseInt(data[6]%3600/60)%>" allow_empty="true" allow_zero="true"> 分
            <input type="number" name="sec" class="input-mini" maxlength=2  max=59 min=0 value="<%=data[6]%3600%60%>" allow_empty="true" allow_zero="true"> 秒
        </td>
    </tr>
    <tr><th>奖励设置：</th>
        <td><hr></td>
    </tr>

    <%var ls=data[3];%>
        <tr >
            <th>VIP <b class="vl red"></b> 奖励：</th>
            <td style="text-align: left;">
                <input onclick="add_reward(<%=i%>,this)" type="button" value="增加奖励">

            </td>
        </tr>
        <tr ><th></th>
            <td class="re_cont re_cont_<%=i%>" vl="<%=i%>">
                    <%for (var i in ls){%>
                     <%=it.w.ri.get_item_html(ls[i],null)%>
                    <%}%>
            </td>
        </tr>

</table>
</div>
</script>

<!-- 这里重写商城活动的参数配置 -->
<script type="text/javascript">

var ri = new ResourceInput()

var default_msg = [[1,'','',[{}],0,0,0,0,0,0,0]]

//重置礼包 序列号
function reset_gift_num(){
    $('.tab-li').each(function(i,ele){
        var gift_id = i+1,
            $ele = $(ele)
        $ele.find('.gift_num').text(gift_id)
        $ele.attr('gift_id',gift_id)
        $ele.find('a').attr('href',"#gift_id_"+gift_id)
    })
    $('.tab-pane').each(function(i,ele){
        var gift_id = i+1,
            $ele = $(ele)
        $ele.find('.gift_num').text(gift_id)
        $ele.attr('gift_id',gift_id)
        $ele.attr('id',"gift_id_"+gift_id)
    })

}

//增加礼包
function add_gift(){
    if ($('#tab-ul li').length >=4){
        alert('最多3个礼包')
        return
    }
    var new_gift_id =  get_max_gift_id() + 1
    $('#tab-ul li:last').before(
        '<li class="tab-li" gift_id="'+ new_gift_id +'">'+
        '<a  href="#gift_id_'+ new_gift_id +'"data-toggle="tab"><b>礼包<span class="gift_num">'+ new_gift_id +'</span></b></a>'+
        '</li>'
   )
    var gift_obj = $.extend(true,default_msg[0])
    gift_obj[0] = new_gift_id
    $('#tab-cont').append(
        '<div id="gift_id_' + new_gift_id + '" class="tab-pane"  gift_id="'+ new_gift_id +'">' +
        get_gift_html(gift_obj) +
        '</div>'
        )

}
function get_max_gift_id(){
    var gift_id_list = $('.tab-pane').map(function(){
        return parseInt( $(this).attr('gift_id') )
    }).get()

    return Math.max.apply(Math,gift_id_list)
}

function active_gift_tab(gift_id){

    $('#tab-ul li').removeClass('active').filter('[gift_id="'+gift_id+'"]').addClass('active')
    $('.tab-pane').removeClass('active').filter('[gift_id="'+gift_id+'"]').addClass('active')
}

//删除礼包
function del_gift(ele){
    if (!confirm('确定删除礼包?')){return false}
    var gift_id = $(ele).closest('.tab-pane').attr('gift_id')
    $('[gift_id="'+gift_id+'"]').remove()

    var last_gift_id = $('[gift_id]:last').attr('gift_id')
    active_gift_tab(last_gift_id)
}

//获取礼包html
function get_gift_html(gift_obj){
    return get_views('gift-tpl',gift_obj)
}

//增加奖励
function add_reward(vl,ele){
    var parent_cont = $(ele).closest('.custom-activity-cont')
    var vip_cont =  parent_cont.find('.re_cont_'+vl)
    vip_cont.append(ri.get_item_html({}))
}


function get_gift_obj(cont,activity_manager){

//[礼包ID, 礼包标题, 礼包描述, 通用固定奖励描述, 开始时间, 结束时间, 领取间隔时间, 获取的类型(0每日, 1总次数), 可以获取的次数, 等级限制(>=), vip等级限制(>=)]

    var msg = []
    var st_str = cont.find('[name="st"]').val(),
        et_str = cont.find('[name="et"]').val()
    st = datetime_str_to_timestamp( st_str )
    et = datetime_str_to_timestamp( et_str )

    st = !isNaN(st) ? parseInt(st) : 0
    et = !isNaN(et) ? parseInt(et) : 0

    //开启时间
     msg[4] = st
     msg[5] = et
     msg[2] = cont.find('[name="gd"]').val()
    var gn1 = cont.find('[name="gn1"]').val()
    var gn2 = cont.find('[name="gn2"]').val()
     if (gn2 == ''){
        msg[1] = '$$' + gn1
     }
     else if (gn2 == ''){
        msg[1] = '&&' + gn2
     }
     else if (gn1 == '' && gn2 == ''){
        msg[1] = ''
     }
    else {
        msg[1] = '$$' + gn1 + '&&' + gn2
     }

     var gift_id = parseInt( cont.find('.gift_num').text() )
     msg[0] = gift_id

     msg[6] = parseInt(cont.find('[name="hour"]').val())*3600 + parseInt(cont.find('[name="minute"]').val())*60 + parseInt(cont.find('[name="sec"]').val())
     msg[7] = parseInt( cont.find('[name="ty"]').val() )
     msg[8] = parseInt( cont.find('[name="ttrt"]').val() )
     msg[9] = parseInt( cont.find('[name="lm"]').val() )
     msg[10] = parseInt( cont.find('[name="vl"]').val() )

     if ( msg[4] <= activity_manager.system_timestamp) {
        alert('开始时间不能早于当前服务器时间!')
        //return false
        active_gift_tab(gift_id)
     }

     if ( msg[4] >= msg[5]) {
        alert('开始时间不能小于等于结束时间!')
        active_gift_tab(gift_id)
     }

    var ls = []
    cont.find('.re_cont').each(function(i,ele){
        var $ele = $(ele)
        $ele.find('.equipitem').each(function(_i,item){
            ls.push(ri.to_json(item))
        })
    })

    msg[3] = ls
    //console.dir(msg)
    return msg
}

function err_callback(input_ele){
    var gift_id = $(input_ele).closest('.tab-pane').attr('gift_id')
    active_gift_tab(gift_id)
}
// 这里重写 从控件获取值的函数

activitySetting.get_json = function(){
    if (!this.check_empty_input(err_callback)){return false}
    var This = this
    var msg_list = []
    var all_done = true
    $('.custom-activity-cont').each(function(i,ele){
        var gift_obj = get_gift_obj($(ele),This)
        if (!gift_obj || $.isEmptyObject(gift_obj)) {
            all_done = false
        } else {
            msg_list.push(gift_obj)
        }
    })

    //console.dir(msg_list)
    return all_done ? JSON.stringify(msg_list) : all_done
}



// 这里重写值到控件的函数
activitySetting.to_html = function(msg){
    msg = $.isEmptyObject(msg)? default_msg : msg
    for (var i in msg){
        var msg_l = msg[i]
        var gn_l = []
        if (msg_l[1].indexOf('$$') >= 0){
            gn_l = msg_l[1].replace('$$','').split('&&')
            msg[i][1] = gn_l
        }
    }

    console.dir(msg)
    var html = get_views('custom-setting-tpl',msg)
    this.contEle.html(html)
}


activitySetting.get_status = function(data){
    var status = ''
    var data_list = data
    console.dir(data_list)
    console.dir(this.system_timestamp)
    var in_time_range =  false
    for (var i in data_list){
        var gift_obj = data_list[i]
        in_time_range = this.system_timestamp >= gift_obj[4]  && this.system_timestamp <=gift_obj[5]
        if (in_time_range){
            break
        }
    }

    if (in_time_range) {
        status = '<span class="label label-success">已开启</span>'
    } else if ($.isEmptyObject(data)) {
        status = '<span class="label label-danger">已关闭</span>'
    }else if (!in_time_range) {
        status = '<span class="label label-primary" title="开启时段'+timestamp_to_datetime_str(data[4])+'- '+ timestamp_to_datetime_str(data[5])+'">未开始</span>'
    }
    return status
}

</script>
