{% extends "base.html" %}
{% load mytags %}
{% block header%}
<title>秘书信息</title>

{% endblock %}
{% block content %}

 <script>
 var server_id = '{{server_id}}'
 var player_id = '{{player_id}}'
 </script>

<div class="col-xs-12 widget-container-span ui-sortable">
		<div class="widget-box ">
			<div class="widget-header widget-header-small">
				<h5>秘书信息</h5>
				<div class="widget-toolbar">
					<a href="#" data-action="collapse">
						<i class="icon-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="widget-body">
				<div class="widget-body-inner" >
				<div class="widget-main no-padding">
					<table class="table table-bordered">
						<thead>
						<tr>
						<th>秘书id</th>
						<th>秘书等级</th>
						<th>是否上阵</th>
						</tr>
						</thead>
						<tbody>
                            {% for rs in result %}
							<tr>
                                <td>{{rs.0|get_dict_key:secretary_map}} ({{rs.0}})</td>
                                <td>{{rs.1}}</td>
                                {%if rs.2 %}
                                    <td>是</td>
                                {%else%}
                                    <td>否</td>
                                {%endif%}

							</tr>
                            {%endfor%}
						</tbody>
					</table>


				</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}