{% extends "base.html" %}
{% load mytags%}
{% block header%}
<title>{{gmp.server.name}} 时间</title>
{% endblock %}


{% block content %}
<form method="post" action=""> 
    <input type="hidden" name="server_time_str" value="{{server_time|timestamp2datetime}}">
<table class="table table-bordered form">

    <tr>
        <th>物理机时间:</th>
        <td class="server_time">{{real_time|timestamp2datetime}}
        </td>
    </tr>
    <tr>
        <th>已增加时间:</th>
        <td >{{add_day}} 天 {{add_hour}} 时 {{add_minute}} 分 {{add_second}} 秒
        </td> 
    </tr>

    <tr>
        <th>游戏服现在时间:</th>
        <td class="server_time">{{server_time|timestamp2datetime}}
            
        </td>
    </tr>

<!--     <tr>
        <th>增加时间:</th>
        <td>
            <input type="number" name="day" class=" input-sm" maxlength=1 max=6 min=0 value="{{day}}"> 天
            <input type="number" name="hour" class=" input-sm" maxlength=2  max=23 min=0 value="{{hour}}"> 时
            <input type="number" name="minute" class=" input-sm" maxlength=2  max=59 min=0 value="{{minute}}"> 分
            <input type="number" name="sec" class=" input-sm" maxlength=2  max=59 min=0 value="{{hour}}"> 秒
    </tr> -->

    <tr>
        <th>修改时间:</th>
        <td>
            <input type="text" name="modify_time" class="Wdate" value="{{server_time|timestamp2datetime}}">

    </tr>

    <tr>
        <th></th>
        <td>
            <input type="submit" class="btn btn-primary" value="确定">* 增加时间不能超过10天 *
        </td>
    </tr>
</table>
</from>
<script>

setInterval(function(){
    $('.server_time').each( function(i, ele) {
         var This = $(ele)
         var this_time_str = This.text()
         var now_server_time = datetime_str_to_timestamp(this_time_str)
         now_server_time += 1
         This.html(timestamp_to_datetime_str(now_server_time))
    });
},
1000)
</script>
{% endblock %}
