{% extends "base.html" %}

{% block header%}
<title>公会渠道列表</title>

<script type="text/javascript">
    function auto_select(ele) {
        if ($(ele).attr("checked") == "checked"){
            $('.single_channel_check input[type="checkbox"]').attr("checked","checked")
        }
        else {
            $('.single_channel_check input[type="checkbox"]').attr("checked",false)
        }
    }

	function addAgent(ele){
			art.dialog.open("/server/conference/conference_edit",{title:ele.innerText})
	}

	function editAgent(ele){
		if(selectId){
			art.dialog.open("/server/conference/conference_edit?conference_id="+selectId,{title:ele.innerText})
		}
	}

	function addChannel(ele){
		if (selectId) {
			art.dialog.open("/server/conference/channel_edit?agent_id="+selectId,{title:ele.innerText})
		}
	}
	function editChannel(ele){
		//alert(selectId)
		if (selectId) {
			art.dialog.open("/server/conference/channel_edit?channel_id=" + selectId,{title:ele.innerText})
		}
	}
	function removeChannel(ele){ 
		var cids = $('#channel_area :checkbox').serialize()
		if (cids) { 
			if (confirmRandom('确定删除吗?')) {
				window.location.href = "/server/conference/channel_remove?" + cids
			}
		}
	}
	function BatchEditChannel(){
		var This = this

		this.get_channel_ids = function(){
		    console.log($('.channel_tr :checked:visible').serialize())
			return $('.channel_tr :checked:visible').serialize()      // 返回渠道id
		}

		this.open_dialog = function(ele){
			if (!This.get_channel_ids()) {
				alert('没有勾选渠道!')
			} else{
			    console.log($('#batch_edit_channel_dialog2 [name]').serialize())
				$('#batch_edit_channel_dialog2').dialog({'title':"渠道配置"})
			}
		}
		
		this.save = function(){
			var channel_ids_params = This.get_channel_ids()
			if (!channel_ids_params){
				alert('没有勾选渠道!')
				return false
			}
			if (!confirm('确定批量保存并生成配置信息?')){
				return false
			}
			$.ajax({
				url: '/server/conference/channel_set',
				type: 'POST',
				dataType: 'json',
				data:channel_ids_params + '&' + $('#batch_edit_channel_dialog2 [name]').serialize(),
			})
			.done(function(data) {
				if (data.code == 0){
					alert('保存成功,已生成配置!')
                    self.location.href='/server/conference/conference_list'
				}
			})
			.fail(function() {
				alert('保存失败!')
			})

		}
	}

    function BatchEditChannel2(){
		var This = this

		this.get_channel_ids = function(){
		    console.log('33333333333333333333')
		    console.log($('.single_channel_check :checked').serialize())
			return $('.single_channel_check :checked').serialize()      // 返回渠道id
		}

		this.open_dialog = function(ele){
			if (!This.get_channel_ids()) {
				alert('没有勾选渠道!')
			} else{
{#			    console.log($('#batch_edit_channel_dialog2 [name]').serialize())#}
				$('#batch_edit_channel_dialog3').dialog({'title':"渠道配置"})
			}
		}

		this.save = function(){
			var channel_ids_params = This.get_channel_ids()
			if (!channel_ids_params){
				alert('没有勾选渠道!')
				return false
			}
			if (!confirm('确定批量保存并生成配置信息?')){
				return false
			}
			$.ajax({
				url: '/server/conference/channel_set',
				type: 'POST',
				dataType: 'json',
				data:channel_ids_params + '&' + $('#batch_edit_channel_dialog3 [name]').serialize(),
			})
			.done(function(data) {
				if (data.code == 0){
					alert('保存成功,已生成配置!')
                    self.location.href='/server/conference/conference_list'
				}
			})
			.fail(function() {
				alert('保存失败!')
			})

		}
	}
var batch_edit_channel = new BatchEditChannel()
var batch_edit_channel2 = new BatchEditChannel2()
$(function(){
     $('tr.agent_tr').contextMenu('agent_contextMenu',
     {  
          bindings:   
          {  
            'c_add': function(t) {  
              addChannel(t)
            }, 
            'c_edit': function(t){
              editAgent(t)
            }
          }  
  
    }); 

 })

//显示公会总值的
window.onload =function () {
    var all_conferen=$('.agent_tr')
    $('.agent_tr').each(function (i,ele) {
        var conference_earn= 0
        var single_e =$(ele).find('.single_earn')
        $(single_e).each(function (ii,eele) {
            conference_earn += parseInt($(eele)[0].innerHTML)
        });
        var ccc =$(ele).find('.conference_earn')
        console.log(ccc[0].innerHTML)
        ccc[0].innerHTML =conference_earn
    })
}


</script>
{% endblock %}
{% block content %}
<div class="bar">
	<h3>公会渠道管理</h3>
		<div class="buttons"> <a href="/server/channel/channel_make" class="ask">生成渠道配置</a></div>
</div>

<!-- 右键菜单 -->
<div  id="agent_contextMenu" class="contextMenu hide">  
	<ul>   
{#		<li id="c_add" class="btn no-border btn-white">添加子渠道</li>  #}
		<li id="c_edit" class="btn no-border btn-white">编辑公会</li>
	</ul>  
</div> 

<!-- 渠道配置信息 -->
<div id="batch_edit_channel_dialog" class="dialog-div">
	<div class="row">
		<div class="col-sm-12">
		{%include "server/channel_other_edit.html"%}
		</div>
		<div class="col-sm-6 col-sm-offset-6">

			<input type="button" class="btn btn-success btn-sm" value="确定" onclick="batch_edit_channel.save()">
		</div>
</div>

</div>

<div id="batch_edit_channel_dialog2" class="dialog-div">
	<div class="row">
		<div class="col-sm-12">
		<p>将价值设为:<input name="set_value" type="number"></p>
        <p>增加价值为:<input name="add_value" type="number"></p>
		</div>
		<div class="col-sm-6 col-sm-offset-6">

			<input type="button" class="btn btn-success btn-sm" value="确定" onclick="batch_edit_channel.save()">
		</div>
</div>

</div>

<div id="batch_edit_channel_dialog3" class="dialog-div">
	<div class="row">
		<div class="col-sm-12">
		<p>将价值设为:<input name="set_value" type="number"></p>
        <p>增加价值为:<input name="add_value" type="number"></p>
		</div>
		<div class="col-sm-6 col-sm-offset-6">

			<input type="button" class="btn btn-success btn-sm" value="确定" onclick="batch_edit_channel2.save()">
		</div>
</div>

</div>

<!-- tab -->
<ul id="nav-list" class="nav nav-tabs" >
	  <li class="active" >
	  	<a href="/server/channel/channel_list" >渠道列表</a>
	  </li>
</ul>

<div id='datatable_toolbar'>

			<div class="btn-toolbar pull-right">

				<div class="btn-group ">
					<a class="btn btn-sm btn-success " onclick="addAgent(this)">
						<i class="icon-plus-sign"></i>添加公会
					</a>

				</div>
				<div class="btn-group ">
					<a class="btn btn-sm btn-primary " onclick="batch_edit_channel.open_dialog(this)">
						<i class="icon-edit"></i>公会渠道修改配置
					</a>

				</div>
                <div class="btn-group ">
					<a class="btn btn-sm" onclick="batch_edit_channel2.open_dialog(this)">
						<i class="icon"></i>全部渠道修改配置
					</a>

				</div>

			</div>
			<div class="pull-right " style="margin-right: 10px;margin-top: 7px;">
			<a href="javascript:;" id="open_channel_list-btn">[展开]</a>
			<a href="javascript:;" id="close_channel_list-btn">[收起]</a>
			</div>
	
</div>
<table  id="channel_table" class="table" >
			<thead>
			<tr>
				<th >公会名称</th>
				<th>渠道数量</th>
{#				<th>公会总发送值</th>#}
				<th >公会发送总值</th>
{#				<th >密码</th>#}
				<th >创建时间</th>
{#				<th >登录次数</th>#}
{#				<th >登录IP</th>#}
				<th >最后时间</th>
			</tr>
			</thead>
			<tbody id="channel_area">
			{%for agent in agents %}
				<tr class="select_tr agent_tr"  trid='{{agent.id}}' >
					<td class="details-control pointer" title="查看子渠道">
						<b>{{agent.alias}}-{{agent.name}}</b>
						{% with  agent.channel.all as channel_all %}
						{% if channel_all %}
						<div style="display:none">
							<table class="table-bordered" style="margin:0px 100px 0px 10%;width:50">
								<thead>
								<tr>
									<th><input type="checkbox"  checkbox-area='agent_{{agent.id}}' all=true ></th>
									<th>渠道ID</th>
									<th>渠道名(渠道key)</th>
                                    <th>渠道发送值</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
								</thead>
								<tbody id="agent_{{agent.id}}" class="agent_{{agent.id}}">
								{% for channel in channel_all %}
								<tr class="select_tr channel_tr" trid="{{channel.id}}">
									<td><input type="checkbox"  value="{{channel.id}}" name="cid"></td>
									<td>{{channel.id}}</td>
									<td>{{channel.name}}({{channel.channel_key}})</td>
                                    <td class="single_earn">{{channel.allow_earn}}</td>
									<td>{{channel.create_time|date:"Y-m-d H:i:s"}}</td>

									<td>
									<a href="/server/conference/channel_edit?channel_id={{channel.id}}&agent_id={{agent.id}}" class="openDialog">[编辑]</a>

									{%if request.admin.is_root%}
									<a href="javascript:void(0);" id="{{channel.id}}" class="ajax delChannel"  onclick="remove_channel(this,{{ agent.id }})" tip="确定删除？">[删除]</a>
									{%endif%}
											
									</td>
								</tr>
								
								{% endfor %}
								</tbody>
							</table>
						</div>
						{%endif%}
						{%endwith%}
					</td>

					<td >{{agent.channel.all|length}}</td>
{#					<td style="color: orangered" class="single_val"></td>#}
{#					<td><a href="/server/channel/agent_edit?agent_id={{agent.id}}" class="openDialog">{{agent.username}}</a></td>#}
{#					<td>{{agent.password}}</td>#}
                    <td class="conference_earn">{{agent.channel.all|length}}</td>
					<td>{{agent.create_time|date:"Y-m-d H:i:s"}}</td>
{#					<td>{{agent.login_count}}</td>#}
{#					<td>{{agent.last_ip}}</td>#}
					<td>{{agent.last_time|date:"Y-m-d H:i:s"}}</td>
				</tr>
			{%endfor%}
			</tbody>
</table>

<script type="text/javascript">

    var opt = {
					//"sScrollY": '200px',//document.documentElement.clientHeight*0.6 + 'px',
					//"bScrollCollapse": true,
					//"sScrollX": "100%",
                    //"sScrollXInner": "100%",
					"bStateSave": false, 
					"bProcessing": false, //是否显示正在处理的提示 
					"iDisplayLength":-1,//默认每页显示的记录数
					"bPaginate": false, // 是否使用分页
					// "bAutoWidth": true,//列的宽度会根据table的宽度自适应 
					//"bSortClasses":true,
					"bLengthChange": false,
					"oSearch":{
						"sSearch": "",//默认的框文字
						"bRegex":true,//支持正则搜索
					},
					"bInfo": false,
					 "oLanguage": {
					 "sSearch": "筛选:",//
					 "sZeroRecords": "没有匹配记录",
					  //"sInfo":'',
					 },
					 "aoColumnDefs":[],
				}
			var oTable = $('#channel_table').dataTable(opt)
			$('#datatable_toolbar').appendTo(oTable.parent().find('.datatable_toolbar'))

            oTable.find('tbody').on('click', 'td.details-control', function () {
		        var nTr = $(this).closest('tr')[0];
		        if ( oTable.fnIsOpen(nTr) ){
		        	oTable.fnClose( nTr );
		        	$(nTr).removeClass('shown');
		        } else {
		        	var html = $(nTr).find('div:hidden').html()
		        	if (html) {
		        		oTable.fnOpen( nTr, html, 'chlid-tr' );
		        	}
		        }

		    });

			oTable.on("mousedown", ".select_tr", function(e) {
			  $(".selected").not(this).removeClass("selected");
			  var This = $(this)

			  selectId = 0
			  This.toggleClass("selected");
			  if (This.hasClass('selected')) {
			  	selectId = This.attr('trid') ? This.attr('trid') : This.find(':checkbox').val()
			  }
			})

			// $('td.details-control').each(function(){
			// 	$(this).click()
			//  })

function open_channel_list(){
	            $('td.details-control').each(function () {
		        var nTr = $(this).closest('tr')[0];

	        	var html = $(nTr).find('div:hidden').html()
	        	if (html) {
	        		oTable.fnOpen( nTr, html, 'chlid-tr' );
	        	}
		    });
}

function close_channel_list(){
	            $('td.details-control').each(function () {
		        var nTr = $(this).closest('tr')[0];
	        	oTable.fnClose( nTr );
	        	$(nTr).removeClass('shown');


		    });
}

function ajax_do(url,method){
	$.ajax({
			url: url,
			type: method,
			success:function(data) {
				var data = JSON.parse(data)
				if (data["code"] == 0){
				    swal({
				        title:data["msg"],
				        type:"success",
				        timer: 1000,
 					   	showConfirmButton: false
			    	})
				    setTimeout(function(){
		            location.reload()
		        	},1000)
			    }else{
			    	swal({
				        title:data["msg"],
				        type:"warning"
			    	})
			    }
			    },
			error:function(er){
				swal({
					title:"保存失败",
					type:"error"
				})
			}
    })
}

function remove_channel(ele,age_id){
	swal({
	  title: "确认删除?",
	  type: "warning",
	  showCancelButton: true,
	  confirmButtonColor: "#DD6B55",
	  confirmButtonText: "确认",
	  cancelButtonText: "取消",
	  closeOnConfirm: false
	},
	function(){
	  var id = ele.id;
	  var agd = parseInt(age_id);

	   var url = '/server/conference/channel_remove?channel_id='+id +'&conference_id='+agd;
		ajax_do(url,"GET")
	});
}

$(function(){
	$('#open_channel_list-btn').click(function(event) {
		open_channel_list()
	});
	$('#close_channel_list-btn').click(function(event) {
		close_channel_list()
	});
})


</script>

<div>
{%if new_list %}
	<h4>待开通的渠道</h4>
	<table class="list">
		<tr>
			<th>名称</th>
			<th width="100">操作</th>
		</tr>
		{%for item in new_list%}
		<tr>
			<td>{{item.channel_key}}</td>
			<td>
				<!-- <a href="/manage/channel/edit/0?key={{item.channel_key}}">开通</a> -->
				<a href="/server/conference/channel_edit?channel_id={{item.id}}" class="openDialog">开通</a>
			</td>
		</tr>
		{%endfor%}
	</table>
{%endif%}

	<h4>全部的渠道</h4>
	<table class="list" id="all_ch">
		<tr id="all_channel_check">
            <th><input type="checkbox" onchange="auto_select(this)">名称</th>
{#			<th>名称</th>#}
			<th width="100">操作</th>
		</tr>
		{% for channel in all_channel %}
		<tr class="single_channel_check">
            <td><input name="cid" type="checkbox" value="{{ channel.id }}">{{channel.channel_key}}</td>
{#			<td>{{channel.channel_key}}</td>#}
			<td>
				<!-- <a href="/manage/channel/edit/0?key={{channel.channel_key}}">开通</a> -->
				<a href="/server/conference/channel_edit?channel_id={{ channel.id }}" class="openDialog">开通</a>
			</td>
		</tr>
		{%endfor%}
	</table>

</div>
{% endblock %}