{% extends "base.html" %}
{% load mytags %}
{% block header%}
<title>分区管理</title>
<script type="text/javascript"  >
	$(document).ready(function() {
		post_tip = $("#post_tip");
		init();
	});

	function selectall(ele) {
		$("[name='group_item_id']").each(function() {
			$(this).attr("checked", $(ele).attr("checked"));
		});
	}

	var count = 0;
	var counter = 0;
	var post_tip;
	var selected_eles;

	function batchSave() {
        enter = confirm('确认提交?');
        if (!enter){
            return
        }
		init();
		listen_post('提交中...');
		if (count >= 1) {
			$("input").attr('disabled', false);
		}

		$(selected_eles).each(function() {
			ajaxPostEdit($(this).val());
		});
	}

	function init() {
		count = 0;
		counter = 0;
		msg_str = "";
		post_tip.html();
		post_tip.hide();
		selected_eles = $("[name='group_item_id']:checked");
		count = selected_eles.length;
	}

	function ajaxPostEdit(id) {

		var value = $("[name='ver']").val();
        var action = $('[name="action"]').val();
		var param = {
			notice : true,
            action : action,
			ajax : true,
			value : value
		};

		var url = "/group/save?model_id=" + id;

		var options = {
			type : "post",
			url : url,
			contentType : "application/x-www-form-urlencoded; charset=utf-8",
			data : param,
			success : function(result) {
				counter++;
				listen_post('serverID:' + id + ' 修改成功');
			},
			cache : false,
			timeout : 5000,
			error : function() {
				counter++;
				listen_post('serverID:' + id + '请求超时');
			}
		}
		$.ajax(options);
		return false;
	}

	var msg_str = "";
	function listen_post(result) {
		msg_str += '<p>' + result + '</p>';
		if (counter < count)
			return;
		msg_str += "操作完成";
		post_tip.html(msg_str);
		post_tip.show();
	}


    function change_server_status() {
        if (confirm('确定修改版本吗？')){
            $.ajax({
                url: '/server/server/server_status_edit',
                type: 'POST',
                dataType:'json',
                data: $('#post_form').serialize()
            })
            .done(function(data) {
                art.dialog(data.msg)
            })
            .fail(function() {
                art.dialog('失败!')
            })
        }
    }

</script>
{% endblock %}

{% block content %}
<div id="bar">
	分区管理
    <div class="buttons">
        <a href="/server/group/relate_gid" class="btn btn-danger btn-xs radius-4 openDialog">关联GID</a>
        <a href="/server/group/group_pids_make" class="ask">生成PID列表</a>
        <a href="/server/server/server_make" class="ask">生成服务器列表</a>
    </div>
</div>

<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" >
    <li class="active">
        <a data-toggle="tab" href="#tab1">
            <i class="icon-info bigger-110"></i>分区管理
        </a>
    </li>
    <!--<li class="">-->
        <!--<a data-toggle="tab" href="#tab2">-->
            <!--<i class="icon-wrench bigger-110"></i>服务器分组-->
        <!--</a>-->
    <!--</li>-->
</ul>
<div class="tab-content">
<div id="tab1" class="tab-pane active">
    <a href="/group/edit" class="btn btn-grey btn-xs radius-4 pull-right openDialog">添加</a>
    <table class="table datatable">
        <thead>
        <tr>
            <th width="60">
            <input type="checkbox" id="all" checkbox-area="group_area" >
            </th>
            <th>编号</th>
            <th width="100">唯一标识</th>
            <th>分区名</th>
            <th>最后操作时间</th>
{#            <th>版本号</th>#}
{#            <th>资源版本号</th>#}
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody id="group_area">
        {%for item in list_record%}
        <tr>
            <td>
            <input type="checkbox" name="group_item_id" value="{{item.id}}" >
            </td>
            <td>{{item.id}}</td>
            <td><a href="/static/server/{{item.group_key}}.json"  class="openDialog">{{item.group_key}}</a></td>
            <td><a href="/server/server/server_list?group_id={{item.id}}" class="openDialog">{{item.name}}</a></td>
            <td>{{item.last_time_str}}</td>
            <!-- <td>{%if item.notice%}<a href="/notice/edit?notice_id={{item.notice.id}}" class="openDialog">{{item.notice.title}}</a>{%endif%}</td> -->
{#            <td>{{item.version}}</td>#}
{#            <td>{{item.resource_version}}</td>#}
            <td><!--<a href="/group/remove/{{item.id}}" class="del">删除</a>&nbsp;&nbsp;-->
                <a href="/group/edit?model_id={{item.id}}" class="openDialog">编辑</a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
    <div class="sub-menu-1">
        <label>选中操作：</label>
        <select  name="action"   >
            <option value="version">修改版本号</option>
            <option value="resource_version">修改资源版本号</option>
        </select>
        <span id="change_version" class="action-cont">
            新号:<input type="text" class="" name="ver" value="" />
        </span>

        <input type="button" class="btn btn-xs btn-danger" title="提交" value="提交操作"  onclick="batchSave()"/>
    </div>

<!--     <select name="notice_select">
        <option value="0">无公告</option>
        {%for item in list_notice%}
        <option value="{{item.id}}" >{{item.title}}</option>
        {%endfor%}
    </select> -->

    <!-- <input type="submit" value="保存" onclick="javascript:batchSave();" /> -->
    <!-- </div> -->
    <center><div id="post_tip" style="width:120px;" ></div></center>
</div>
<div id="tab2" class="tab-pane ">
<form action="" method="post" >
<a href="/grouplist/edit" class="btn btn-grey btn-xs radius-4 pull-right">添加</a>
    <table class="table datatable">
        <thead>
        <tr>
            <th width="60">
            <input type="checkbox" id="all" checkbox-area="group_area" >
            </th>
            <th>编号</th>
            <th width="100">唯一标识</th>
            <th>分组名</th>
            <th>所属大区</th>
            <th>拥有服务器</th>
            <th width="100">操作</th>
        </tr>
        </thead>
        <tbody id="group_area">
        {%for item in group_list%}
        <tr>
            <td>
            <input type="checkbox" name="list_item_id" value="{{item.id}}" >
            </td>
            <td>{{item.id}}</td>
            <td>{{item.key}}</td>
            <td>{{item.name}}</td>
            <th>({{item.partion.id}}){{item.partion.name}}</th>
            <th>
                {{item.id|get_server_list}}
            </th>
            <td>
                <a href="/grouplist/edit?model_id={{item.id}}" class="openDialog">编辑</a>&nbsp;&nbsp;
                <a href="/grouplist/remove/{{item.id}}" class="del">删除</a>
            </td>
        </tr>
        {%endfor%}
        </tbody>
    </table>
</form>
<div>
</div>
{% endblock %}