{% extends "base.html" %}

{% block header%}
<title>渠道编辑</title>

{% endblock %}

{% block content %}
<div id="bar">
	<a href="/server/conference/conference_list">公会渠道管理</a> -> {{model.name}} 渠道资料编辑
	<div class="buttons">
		<a href="/server/conference/conference_list">返回</a>
	</div>
</div>

<form action="/server/conference/channel_save?channel_id={{model.id}}" method="post" class="ajax">

	<table class="form2">
		<tr>
			<th>渠道号(KEY)：</th><td><input type="text"  name="key" value="{{model.channel_key}}" readonly /> *重要:不能修改 必须唯一</td>
		</tr>

		<tr>
			<th>渠道名：</th><td><input type="text" name="name" value="{{ model.name }}"  readonly /></td>
		</tr>
        {% if model.id != 0 %}
        <tr>
			<th>渠道发送价值：</th><td><input type="text" name="allow_earn" value="{{model.allow_earn }}" /></td>
		</tr>
        {% endif %}

		<tr><th>所属公会</th>
			<td>

				<select name="agent_id" svalue="{{agent_id}}">
					{% for a in agents%}
						<option value="{{a.id}}" >{{a.alias}}-({{a.name}})</option>
					{%endfor%}

				</select>
			</td>
		</tr>
<!-- 		<tr>
			<th>平台名:</th><td><input type="text" name="agent_name" value="{{model.agent_name}}" />*此渠道所属的平台英文字符,不能乱修改</td>
		</tr>
		<tr>
			<th>登录名：</th><td><input type="text" name="username" value="{{model.username}}" /></td>
		</tr>

		<tr>
			<th>密 码：</th><td><input type="text" name="password" value="{{model.password}}" /></td>
		</tr> -->
		<tr><th>其他配置:</th>
			<td>
				{%include "server/channel_other_edit.html"%}
			</td>
		</tr>
		<tr>
			<th></th>
			<td><input type="submit" value="保存" /></td>
		</tr>
	</table>
</form>
{% endblock %}