

<div class="col-xs-12 col-sm-6 widget-container-span ui-sortable">
        <div class="widget-box">
            <div class="widget-header widget-header-small header-color-orange">
                <h6>
                    {{query_analysis.query.name}}
                </h6>

                <div class="widget-toolbar">
                    <a href="#" data-action="settings">
                        <i class="icon-cog"></i>
                    </a>

                    <a href="#" data-action="reload">
                        <i class="icon-refresh"></i>
                    </a>

                    <a href="#" data-action="collapse">
                        <i class="icon-chevron-up"></i>
                    </a>

<!--                     <a href="#" data-action="close">
                        <i class="icon-remove"></i>
                    </a> -->
                </div>
            </div>

            <div class="widget-body"><div class="widget-body-inner" style="display: block;">
                <div class="widget-main">
                    {% include "query/plugins/图表e.html"%}
                </div>
            </div></div>
        </div>
    </div>

        