<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<LINK href="/static/favicon.ico" type="image/x-icon" rel=icon>
<script type="text/javascript" src="/static/js/jquery-1.8.0.min.js"></script>

<!--日期控件-->
<script type="text/javascript" src="/static/js/My97DatePicker/WdatePicker.js"></script>


<!--简繁体 -->
<script type="text/javascript" src="/static/js/stran.js"></script>

<!-- dialog -->
<!-- <script type="text/javascript" src="/static/js/artDialog.js"></script>  -->
<script type="text/javascript" src="/static/assets/artDialog/artDialog.source.js"></script> 
<script type="text/javascript" src="/static/assets/artDialog/iframeTools.source.js"></script>
<link rel="stylesheet" href="/static/assets/artDialog/artDialog.css" />

<!-- bootstrap -->
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/assets/js/bootstrap.min.js"></script>

<!-- 补全 -->
<script src="/static/assets/js/typeahead-bs2.min.js"></script> 

<!-- tag input-->
<script src="/static/assets/js/bootstrap-tag.min.js"></script>

<!-- asc styles-->
<link rel="stylesheet" href="/static/assets/css/ace.min.css" />
<link rel="stylesheet" href="/static/assets/css/ace-rtl.min.css" />
<link rel="stylesheet" href="/static/assets/css/ace-skins.min.css" />
<script src="/static/assets/js/ace.min.js"></script>
<script src="/static/assets/js/ace-elements.min.js"></script>
<script src="/static/assets/js/ace-extra.min.js"></script>
<script src="/static/assets/js/fuelux/fuelux.spinner.min.js"></script>

<!-- contextmenu -->
<script type="text/javascript" src="/static/js/jquery.contextmenu.r2.js"></script> 




<!-- ico -->
<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/skin/cus-icons.css" />

<!-- tabletree -->
<script src="/static/assets/treetable/jquery.treetable.js"></script>
<link rel="stylesheet" href="/static/assets/treetable/jquery.treetable.css" />
<link rel="stylesheet" href="/static/assets/treetable/jquery.treetable.theme.default.css" />

<!--  jquery datatable-->
<script src="/static/assets/js/jquery.dataTables.min.js"></script>
<script src="/static/assets/js/jquery.dataTables.bootstrap.js"></script>

<!-- 拖动 -->
<script src="/static/assets/js/jquery.nestable.min.js"></script>

<!-- 通知 -->
<!-- <script src="/static/assets/js/jquery.gritter.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/jquery.gritter.css" /> -->

<!-- 选择框 -->
<link rel="stylesheet" href="/static/assets/css/chosen.css" />
<script src="/static/assets/js/chosen.jquery.min.js"></script>



<!-- doT -->
<script type="text/javascript" src="/static/js/doT2.min.js"></script> 

<!--  自定 -->
<link rel="stylesheet"  href="/static/skin/style.css"  />
<link rel="stylesheet"  href="/static/skin/help_tip.css"  />
<script type="text/javascript" src="/static/js/main.js"></script> 
<script type="text/javascript" src="/static/js/ui.js"></script>


<!-- 提示框 -->
<link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
<script type="text/javascript" src="/static/js/sweetalert.min.js" ></script>


