{% extends "base.html" %}

{% block header%}
<title>用户列表</title>
{% endblock %}

{% block content %}
{% with model_name='Admin' url_prefix='/system/admin/admin_' %}
<script type="text/javascript">

	function add{{model_name}}(ele) {
		art.dialog.open("{{url_prefix}}edit")
	}
	function edit{{model_name}}(ele){
		art.dialog.open("{{url_prefix}}edit?id=" + selectId)
	}
	function remove{{model_name}}(ele){
		if (confirmRandom('确定删除吗?')){
			window.location.href = "{{url_prefix}}remove?"+$('#{{model_name}}_area :checkbox').serialize()
		}

	}
	function recover{{model_name}}(ele){
		if (confirm('确定恢复吗?')) {
			window.location.href = "{{url_prefix}}remove?recover=true&"+$('#{{model_name}}_area :checkbox').serialize()
		}
	}

$(function(){
     $('#{{model_name}}_area tr').contextMenu('contextMenu',   
     {  
          bindings:   
          {  
            'c_edit': function(t) {  
               edit{{model_name}}(t)
            },   
            'c_remove': function(t) {  
               remove{{model_name}}(t)
            },
            'c_recover':function(t){
            recover{{model_name}}(t)
            }  
          }  
  
    });  
})
</script>

<div class="bar"></div>

<div  id="contextMenu" class="contextMenu">  
	<ul>  
		<li id="c_edit" class="btn no-border btn-white" ><i class="icon-edit"></i>编辑</li>  
<!-- 		<li id="c_remove" class="btn no-border btn-white" ><i class="icon-trash"></i>删除</li>     -->
		<li id="c_recover" class="btn no-border btn-white" ><i class="icon-share-alt "></i>恢复</li>    
	</ul>  
</div> 

<div >
	<ul id="nav-list" class="nav nav-tabs" >
			  <li class="active"  >
			  	<a href="{{url_prefix}}list" >用户列表</a>
			  </li>
			  <li >
			  	<a href="/system/role/role_list" >角色列表</a>
			  </li>
	</ul>
	<!-- 按钮工具条 -->
	<div id='datatable_toolbar'>
		<div class="btn-toolbar pull-right">
			<div class="btn-group ">
				<a class="btn btn-sm btn-success " onclick="add{{model_name}}(this)">
					<i class="icon-plus-sign"></i>添加
				</a>
			</div>
			<div class="btn-group">
				
				<a class="btn btn-sm btn-primary " onclick="edit{{model_name}}(this)">
					<i class="icon-edit"></i>编辑
				</a>
				<a data-toggle="dropdown" class="btn btn-sm  btn-primary dropdown-toggle">
					<span class="icon-caret-down icon-only"></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a  class="" onclick="remove{{model_name}}(this)">
							<i class="icon-trash "></i> 删除
						</a>
						<a  class="" onclick="recover{{model_name}}(this)">
							<i class="icon-share-alt "></i> 恢复
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--  -->
	<table  class="table table-bordered datatable" data-toolbar='datatable_toolbar' data-group-by-index='[5]'>
		<thead>
		<tr>
			<th width="60">
				<input type="checkbox" checkbox-area='{{model_name}}_area'  >
			</th>
			<th >ID</th>
			<th>别名</th>
			<th>登录名</th>
			<th>拥有角色</th>
			<th>状态</th>
			<th>登录次数</th>
			<th>登录IP</th>
			<th>最近时间</th>
		</tr>
		</thead>
		<tbody id="{{model_name}}_area">
		{%for item in list_record%}
		<tr trid='{{item.id}}'>
			<td>
				<input type="checkbox"  value="{{item.id}}" name="id">
			</td>
			<td>{{item.id}}</td>
			<td><a href="{{url_prefix}}edit?id={{item.id}}" class="openDialog">{{item.alias}}</a></td>
			<td>{{item.username}}</td>
			<td>
				{% with  item.role.all as roles %}
					{%if roles%}
						{% for r in roles%}
							<a href="/system/role/role_edit?id={{r.id}}" class="openDialog">{{r.name}}{%if not forloop.last %}</a>,{%endif%}
						{% endfor%}
					{%else%}
						没有角色
					{%endif%}
				
				{%endwith%}
			</td>
			<td>{{item.get_status_display}}</td>
			<td>{{item.login_count}}</td>
			<td>{{item.last_ip}}</td>
			<td>{{item.last_time|date:"Y-m-d H:i:s"}}</td>
		</tr>
		{%endfor%}
		</tbody>
	</table>
</div>
{%endwith%}
<script>
$(function(){
	$('.table select').val('正常').change()
})
</script>
{% endblock %}
